<header>
  <title>Title</title>

  <% if(username) { %>
    <p>Hello <%= username %>!</p> 
    <form method="post" action="/logout"><button value="logout" type="submit">Log Out</button></form>
  <% } else { %>
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="Enter your username"><button type="submit">Submit</button>
    </form> 
  <% } %>

</header>
