<header>
  <title>URL shortener</title>

  
    <ul>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>

    <form action="/logout" method="POST">
      <div>
        
      </div>
      <div>
        <label for="password">Enter a password:</label>
        <input id="password" type="password" name="password" style="width: 300px">
      </div>
      <input type="submit" value="Submit">
    </form>
    
  
</header>
