<!DOCTYPE html>
<html lang="en">
  <body>
    <head>
      <link href="/style.css" rel="stylesheet" type="text/css">
      <meta charset="UTF-8">
      <meta name="description" content="Shorten URLS">
      <title>TinyApp - Register</title>
    </head>

    <form action="/register" method="POST">
      <div>
        <label for="email">Enter your email:</label>
        <input id="email" type="email" name="email">
      </div>
      <div>
        <label for="password">Enter a password:</label>
        <input id="password" type="password" name="password">
      </div>
      <input type="submit" value="Submit">
  </form>

  </body>
</html>
