<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<% include partials/_header %>
  <ul>
    <% for (key in urls) { %>
      <li><%= key %> : <%= urls[key] %> </li> <a href="/urls/<%= key %>">Edit</a> <form method="POST" action="/urls/<%= key %>/delete"><button value="delete" type="submit">Delete</button></form>
    <% }; %>
  </ul>
  
  <a href="/urls/new">Shorten another URL here!</a>


</body>
</html>