<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<% include partials/_header %>

  <hr>

  <ul>
    <% urls.forEach(function(link) { %>
      <li style="margin-top: 1em">
        <%= link.short %> :  <%= link.long %> 
      </li> <a href="/urls/<%= link.short %>">Edit</a> 
      <form method="POST" action="/urls/<%= link.short %>/delete">
        <button value="delete" type="submit">Delete</button>
      </form>
    <% }); %>
  </ul>
  
  <a href="/urls/new">Shorten a URL here!</a>


</body>
</html>