<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/style.css" rel="stylesheet" type="text/css">
  <meta charset="UTF-8">
  <meta name="description" content="Shorten URLS">
  <title>TinyApp</title>

</head>
<body>

<% include partials/_header %>

  <ul id="url-list">
    <% urls.forEach(function(link) { %>
      <li>
        <span class="short"><%= link.short %></span> =  <%= link.long %> 
      <a href="/urls/<%= link.short %>">Edit</a> 
      <form method="POST" action="/urls/<%= link.short %>/delete">
        <button value="delete" type="submit">Delete</button>
      </li>
      </form>
    <% }); %>
  </ul>

</body>
</html>