<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<% include partials/_header %>

<p>ShortURL: <%= shortURL %> </p>
<form method="POST" action="/urls/<%= shortURL %>">
<input type="text" name="longURL" value="<%= urls[shortURL] %>" /><input type='submit' value='update' />
</form>
